{% extends "index.html" %}

  {% block link %}
  <link rel="stylesheet" type="text/css" href='static/style/forum.css'>
  {% endblock %}

  {% block script %}
  <script type="module" src="static/script/forum.js" defer></script>
  {% endblock %}

  {% block main %}
    <div class="forum__container">
			<div id="row"></div>
				<section class="left">
					<h2>Share a book that best represents your country!</h2>
          <div class="inner-left">
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>💬 6</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>6</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>6</span>
                  </div>
                </div>
              </div>
            </div>  
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>6</span>
                  </div>
                </div>
              </div>
            </div>  
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>6</span>
                  </div>
                </div>
              </div>
            </div>  
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>6</span>
                  </div>
                </div>
              </div>
            </div>  
            <div class="box">
              <div class="img">
                <img src="static/images/default.jpg" alt="">
              </div>
              <div class="details">
                <p>general discussion</p>
                <h3>Share a book that best represents your country!</h3>
                <div class="sub-details">
                  <span>ryohei3364</span>
                  <span>9 h ago.</span>
                  <span>ryohei3364</span>
                  <span>replied</span>
                  <span>5 h ago.</span>
                  <div class="comment">
                    <i class="fa-solid fa-comment"></i>
                    <span>6</span>
                  </div>
                </div>
              </div>
            </div>              
          </div>
				</section>
        <section class="right">
          <div class="box first">
            <h3>BookTrend forum</h3>
            <span>since 2025</span>
            <p>Welcome to BookTrend Forum. Come in and discuss any book reference topic.</p>
          </div>
          <div class="stats">
            <div>
              <h4>1.6M</h4>
              <span>posts</span>
            </div>
            <div>
              <h4>79.4K</h4>
              <span>members</span>
            </div>
          </div>
          <div class="buttons">
            <a href="#" class="btn btn-red"><i class="fa solid fa-user-large"></i>join community</a>
            <a href="" class="btn btn-white"><i class="fa solid fa-store"></i></a>
        </section>
    </div>
  {% endblock %}